#!/bin/sh
set -e

s6-svwait -U /etc/s6/php-logger


rm -f /var/run/php/php-fpm.sock

# Wait for socket or port
{
  if [ "$PHP_FPM_USE_SOCKET" == "true" ]; then
  	while [ ! -S "$PHP_FPM_SOCKET_PATH" ]; do sleep 0.1; done
    echo "\n" 1>&3 # service ready
    echo  "started php-fpm, socket: $PHP_FPM_SOCKET_PATH"
  else
  	while ! nc -z "$PHP_FPM_HOST" "$PHP_FPM_PORT"; do sleep 0.1; done
    echo "\n" 1>&3 # service ready
    echo  "started php-fpm, listening: $PHP_FPM_HOST:$PHP_FPM_PORT"
  fi
} &

/usr/local/sbin/php-fpm -R -y /etc/php/php-fpm.conf 2>&1 &
php_pid=$!

wait_to_end () {
  wait $php_pid
  exit $?
}

trap '' EXIT
trap '/bin/kill -s QUIT $php_pid; wait_to_end' INT TERM QUIT
trap '/bin/kill -s USR2 $php_pid; wait_to_end' HUP

wait_to_end
