#scheme-analysis {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;

  .fields,
  .charts {
    margin: 5px 15px 15px;
  }

  .charts {
    margin-left: 5px;
  }
}

#scheme-analysis .fields {
  $row-border-color: #e2e2e2;
  $table-line-height: 25px;
  $line-selected-color: $brand-color;
  $line-hover-color: mix(white, mix($text-color, $brand-color, 30%), 40%);
  $col-width: 60px;
  flex: 0 0 35em;
  order: -1;
  transition: opacity 300ms ease-in-out;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  ul {
    margin: 0;
    font-size: 12px;
  }

  ul ul li {
    margin-left: 15px;
  }

  li {
    margin: -1px 0 0;
    cursor: pointer;

    @include on-event {
      &::before {
        background: mix(white, $line-hover-color, 20%);
      }

      > .field {
        background: mix(white, $line-hover-color, 92%);

        .data {
          font-weight: bold;
        }
      }
    }

    &::before {
      position: relative;
      width: 3px;
      height: $table-line-height + 4px;
      float: left;
      transition: background 300ms ease;
      background: transparent;
      content: '';
      z-index: 1;
    }
  }

  li.selected {
    &::before {
      background: mix(white, $line-selected-color, 20%) !important;
    }

    > .field {
      $border-color: mix($row-border-color, $line-selected-color, 50%);
      position: relative;
      border-color: $border-color;
      background: mix(white, $line-selected-color, 70%) !important;

      .name {
        font-weight: bold;
      }

      .count,
      .percent {
        border-color: $border-color;
        font-weight: bold;
      }
    }
  }

  li .name::before {
    @include fa-icon;
    margin-right: 6px;
    color: transparent;
    font-size: 0.7em;
    content: $fa-var-plus-square;
  }

  li.has-children > .field .name::before {
    color: $text-color;
  }

  li.has-children.opened > .field .name::before {
    font-size: 0.6em;
    content: $fa-var-minus;
  }

  li.has-children.closed > .field .name::before {
    content: $fa-var-plus;
  }

  li.has-children.closed ul {
    display: none;
  }

  .title {
    margin-bottom: 5px;
    padding: 0 0 0 5px;
    font-size: 14px;
    font-weight: 500;
    @include clearfix;

    .count,
    .percent {
      border: 0;
    }
  }

  .field {
    padding: 0 0 0 8px;
    transition: background 300ms ease;
    border: solid 1px $row-border-color;
    background: white;
    @include clearfix;

    @include on-event {
      $border-color: mix($row-border-color, $line-hover-color, 50%);
      position: relative;
      border-color: $border-color;
      background: mix(white, $line-hover-color, 85%) !important;

      .count,
      .percent {
        border-color: $border-color;
      }
    }
  }

  .name {
    height: $table-line-height;
    padding-top: 2px;
    float: left;
    font-weight: 500;
    line-height: $table-line-height;

    .array-item {
      color: mix(white, $text-color, 10%);
      font-style: italic;
      font-weight: normal;
    }
  }

  .data {
    height: $table-line-height;
    float: right;
    line-height: $table-line-height;
  }

  .count,
  .percent {
    display: inline-block;
    width: $col-width;
    height: $table-line-height + 1;
    margin-right: -1px;
    margin-left: -1px;
    padding: 2px 10px 0;
    border-right: solid 1px $row-border-color;
    border-left: solid 1px $row-border-color;
    line-height: $table-line-height;
    text-align: right;
  }

  .count {
    margin-right: 0;
  }
}

#scheme-analysis .charts {
  flex: 1;
  transition: opacity 300ms ease-in-out;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  .field-name {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 0 0 0 5px;
    font-size: 1.3em;
    font-weight: 500;
  }

  .chart {
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }

  .chart-title {
    margin-bottom: 5px;
    padding: 0 0 0 5px;
    font-size: 1.25em;
  }

  .chart-c3 {
    // x
  }
}
